@import "tailwindcss";


@layer base {
  html, body {
    @apply bg-gray-400 m-0 p-0 min-h-screen w-full;
    overflow : hidden;
  }
}

::-webkit-scrollbar {
    -moz-appearance: none;
    appearance: none;
}

